/* global starts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

:root {
  --padding: 20px;
  --blur: 0px;
  --width: 50%;
  --base-color: #00dbcc;
  --border-radius: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
}
/* global ends */

/* container */
.container {
  padding: 3rem;
  background: linear-gradient(to right, #f12711, #f5af19);
  box-shadow: 8px 8px 10px rgb(59, 4, 72, 0.2),
    -10px -10px 30px rgb(255, 255, 255, 0.5);
  border-radius: 1.5rem;
}
h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--base-color);
  font-weight: 800;
}
img {
  width: var(--width);
  height: 80%;
  margin-top: 1rem;
  padding: var(--padding);
  filter: blur(var(--blur));
  border-radius: var(--border-radius);
  background-color: var(--base-color);
  transition: filter 0.4s ease, background-color 0.4s ease;
}
