/* global starts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

:root {
  --padding: 20px;
  --blur: 0px;
  --width: 50%;
  --base-color: #00dbcc;
  --border-radius: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
}
/* global ends */

/* container */
.container {
  padding: 2rem;
  background: linear-gradient(to right, #f12711, #f5af19);
  box-shadow: 8px 8px 10px rgba(6, 87, 201, 0.2),
    -10px -10px 30px rgba(99, 0, 0, 0.69);
  border-radius: 1.5rem;
  margin: 1rem;
  width: 60%;
}
h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--base-color);
  font-weight: 800;
}

.css-change-controller {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
}

label {
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.css-change-controller input[type="color"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;

  cursor: pointer;
  margin-left: 1rem;
  border: none;
  outline: none;
}

.css-change-controller input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.css-change-controller input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

img {
  width: var(--width);
  height: 70%;
  margin-top: 1rem;
  background-color: var(--base-color);
  padding: var(--padding);
  filter: blur(var(--blur));
  border-radius: var(--border-radius);
  transition: filter 0.4s ease, background-color 0.4s ease;
}
